@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.98 0.01 325.64);
  --foreground: oklch(0.33 0.12 325.04);
  --card: oklch(0.98 0.01 325.64);
  --card-foreground: oklch(0.33 0.12 325.04);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.33 0.12 325.04);
  --primary: oklch(0.53 0.14 355.20);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.87 0.07 334.90);
  --secondary-foreground: oklch(0.44 0.13 324.80);
  --muted: oklch(0.94 0.03 331.55);
  --muted-foreground: oklch(0.49 0.12 324.45);
  --accent: oklch(0.87 0.07 334.90);
  --accent-foreground: oklch(0.44 0.13 324.80);
  --destructive: oklch(0.52 0.14 20.83);
  --border: oklch(0.86 0.08 328.91);
  --input: oklch(0.85 0.06 336.60);
  --ring: oklch(0.59 0.22 0.58);
  --chart-1: oklch(0.60 0.24 344.47);
  --chart-2: oklch(0.44 0.23 300.62);
  --chart-3: oklch(0.38 0.04 226.15);
  --chart-4: oklch(0.83 0.12 88.35);
  --chart-5: oklch(0.78 0.13 59.00);
  --sidebar: oklch(0.94 0.03 320.58);
  --sidebar-foreground: oklch(0.49 0.19 354.54);
  --sidebar-primary: oklch(0.40 0.03 285.20);
  --sidebar-primary-foreground: oklch(0.97 0.01 337.52);
  --sidebar-accent: oklch(0.98 0.00 106.42);
  --sidebar-accent-foreground: oklch(0.40 0.03 285.20);
  --sidebar-border: oklch(0.94 0.00 48.72);
  --sidebar-ring: oklch(0.59 0.22 0.58);
  --destructive-foreground: oklch(1.00 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.24 0.02 307.53);
  --foreground: oklch(0.84 0.04 309.54);
  --card: oklch(0.28 0.02 307.54);
  --card-foreground: oklch(0.85 0.03 341.46);
  --popover: oklch(0.15 0.01 338.90);
  --popover-foreground: oklch(0.96 0.01 341.80);
  --primary: oklch(0.46 0.19 4.10);
  --primary-foreground: oklch(0.86 0.06 346.37);
  --secondary: oklch(0.31 0.03 310.06);
  --secondary-foreground: oklch(0.85 0.04 307.96);
  --muted: oklch(0.26 0.02 309.47);
  --muted-foreground: oklch(0.79 0.04 307.10);
  --accent: oklch(0.36 0.05 308.49);
  --accent-foreground: oklch(0.96 0.01 341.80);
  --destructive: oklch(0.23 0.05 12.61);
  --border: oklch(0.33 0.02 343.45);
  --input: oklch(0.34 0.02 332.83);
  --ring: oklch(0.59 0.22 0.58);
  --chart-1: oklch(0.53 0.14 355.20);
  --chart-2: oklch(0.56 0.19 306.86);
  --chart-3: oklch(0.72 0.15 60.58);
  --chart-4: oklch(0.62 0.20 312.74);
  --chart-5: oklch(0.61 0.21 6.14);
  --sidebar: oklch(0.19 0.02 331.05);
  --sidebar-foreground: oklch(0.86 0.03 343.66);
  --sidebar-primary: oklch(0.49 0.22 264.38);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.23 0.03 338.20);
  --sidebar-accent-foreground: oklch(0.97 0.00 286.38);
  --sidebar-border: oklch(0 0 0);
  --sidebar-ring: oklch(0.59 0.22 0.58);
  --destructive-foreground: oklch(1.00 0 0);
  --radius: 0.5rem;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}